/* Header section */
.container-fluid {
  padding: 0;
}
.d-block {
  height: 150rem;
}

.d-block {
  height: 600px;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
}
.carousel-indicators {
  left: -70vw;
  margin:0;
  margin-bottom: 4rem;
}
