/* Header section */
.container-fluid {
  padding: 0;
}
.d-block {
  height: 150rem;
}

.header-images {
  position: absolute;
}
.header-conent {
  position: absolute;
}

.carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;

  border-radius: 50%;
  background-color: grey;
}
.carousel-indicators {
  top: 134rem;
  right: 170rem;
  /* margin-top: 0%; */
  margin-left: 0%;
}

.carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: white;
}
