/* Header section */
.container-fluid {
  padding: 0;
}

.d-block {
  height: 600px;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
}
.carousel-indicators {
  left: -63vw;
  margin:0;
  margin-bottom: 4rem;
}


.header-carousel{
    position:absolute;
}
.navbar{
   position: absolute;
   width:100%;
   background: transparent;
   padding:2% 17% 0 17%;
   
}

.col-10{
    padding:10% 17% 0 17%;
    color:#fff;
   
}
@media only screen and (max-width: 987px) {

    .navbar{
        background-color: #fff;
        z-index:10;
    }
}